body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    padding: 20px;
    box-sizing: border-box;
}

.logo {
    max-width: 75%;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 30px;
}

.main-content {
    flex-grow: 1;
    padding: 0 20px;
}

.instagram-feed {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.instagram-post {
    width: calc(25% - 10px); /* Čtyři sloupce */
    max-width: 250px; /* Maximální šířka */
    height: 250px; /* Maximální výška pro čtverce */
    overflow: hidden; /* Skrytí přetékajícího obsahu */
    /* Zrušení zaoblených rohů a zvětšování při hover */
    border-radius: 0; /* Zrušení zaoblených rohů */
    box-shadow: none; /* Zrušení stínu */
    transition: none; /* Zrušení efektu při najetí myší */
}

.instagram-post img,
.instagram-post video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Zajištění, že obrázky/videa vyplní celý prostor */
}

/* Responsivní úpravy */
@media (max-width: 800px) {
    h1 {
        font-size: 1.5rem;
    }
    p {
        font-size: 0.9rem;
    }
    .instagram-post {
        width: calc(33.33% - 10px); /* Tři sloupce na menších zařízeních */
        max-width: none;
    }
}

@media (max-width: 500px) {
    .instagram-post {
        width: calc(50% - 10px); /* Dva sloupce na mobilních zařízeních */
    }
}
